body{
    margin: 0 auto;
    max-width: 600px;
    background-color: white;
    color: black;
    
}
@media screen and (min-width:750px){
    header, footer {
      text-align: center;
    }
}
@media screen and (max-width:749px){
    h1 {
      font-size: 2em;
      line-height: 0.9;
      margin-bottom: 20px;
    }
    h2 {
      font-size: 1.2em;
      line-height: 1;
    }
}